:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #d2d2d2;
  --color-pink: #fe918d;
  --color-dark-pink: #ff4c60;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-subtle-grey: #edf3f4;
  --color-light-grey: #7c7979;
  --color-light-blue: #73aace;
  --color-blue: #56b3f1;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #2b2b2b;
  --color-green: #02c17f;
  --color-blue-black: #212534;
  --primary: #fe7e35;
  --primary-hover: #ffc875;
  --secondary: #bdbdbd;
  --secondary-hover: #616161;
  --warning: #ff4c60;
  --border-color: #ececec;

  /* Font size */
  --font-large: 38px;
  --font-medium: 22px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 8px;

  /* Annimation */
  --animation-duration: 300ms;

  /* Shadow */
  --shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-black);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 1.3rem;
  margin: 10px;
}
h2 {
  font-size: 1.15rem;
}
h3 {
  font-size: 1.1rem;
}
p {
  font-size: 1rem;
}
button {
  background-color: var(--color-dark-white);
  border: 0;
  cursor: pointer;
}
form {
  max-width: 360px;
  margin: 0 auto;
  padding: 30px;
}
input,
textarea {
  border: 0;
  border-bottom: 1px solid var(--secondary);
  outline: none;
  width: 98%;
  padding: 8px 0px 8px 4px;
  color: var(--color-dark-grey);
  margin: 10px auto;
}
textarea {
  border: 0;
  resize: none;
}

.btn {
  cursor: pointer;
}

.btn-primary {
  padding: 6px 8px;
  border-radius: 4px;
  background-color: var(--primary);
  color: white;
}
.btn-primary:hover {
  background-color: var(--primary-hover);
}
.btn-main {
  width: 100%;
  padding: 10px 8px;
  margin-top: 20px;
  height: 38px;
}
.btn.pending {
  content: 'dd';
  background-color: var(--primary-hover);
}

.text-white {
  color: white;
}
.text-primary {
  color: var(--primary);
}

.d-flex {
  display: flex;
}

.error {
  color: var(--warning);
  font-size: 14px;
  margin: 14px 0;
}
.full-screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: white;
}
.drawer {
  /* border-left: 1px solid #d3d3d3; */
  transform: translateX(100vw);
}
.circle {
  border-radius: 50%;
}

/* --- web fonts --- */
@font-face {
  font-family: 'SuncheonB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SuncheonB.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTPro-Md';
  src: url('./fonts/HelveticaNeueLTPro-Md.otf');
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
  font-family: 'Noto Sans KR', sans-serif;
}

/* --- custom styles --- */
#app {
  font-family: 'Noto Sans KR', 'Noto Sans', 'HelveticaNeueLTPro-Md',
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: black;
}
main {
  padding: 0 14px;
}
.login,
.signup {
  font-family: SuncheonB, Avenir, Helvetica, Arial, sans-serif;
}
.header {
  font-family: SuncheonB, 'Noto Sans KR', Avenir, Helvetica, Arial, sans-serif;
}
.bg-gray {
  background-color: #dbdbdb;
  color: black;
}
.btn-back {
  cursor: pointer;
  position: fixed;
  color: white;
  background-color: transparent;
  top: 0;
  z-index: 2;
  font-size: 20px;
  left: 8px;
  top: 8px;
  padding: 4px;
}
.btn-close {
  font-size: 20px;
}
